/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Admin main display page*/

.bcd_rules-table .table__item .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.bcd_rules-table .table__item .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.bcd_rules-table .table__item .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.bcd_rules-table .table__item .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.bcd_rules-table .table__item input:checked + .slider {
    background-color: #cc99c2;
}

.bcd_rules-table .table__item input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */
.bcd_rules-table .table__item .slider.round {
    border-radius: 34px;
}

.bcd_rules-table .table__item .slider.round:before {
    border-radius: 50%;
}
